@import url("candidateSkill.css");

.preferredWeaponContainer {
    width: 25%;
    padding: 3px;
    padding-bottom: 18px;
    text-align: center;
    background-color: white;
    border: 1px solid cornflowerblue;
}

label {
    color: lightgray;
    font-size: 14px;
    vertical-align: sub;
}
