.characterSheetContainer {
	display: flex;
}

.characterSheetColumn {
	flex: 50%;
}

.characterSheetFeatureContent {
    display: none;
}

.attributeDetailPanelIcon {
	padding-right: 5px;
}

.attributeDetailPanelIndentedIcon {
	padding-right: 5px; 
	padding-left: 5px;
}

.tableLayout {
	border:1px solid;
	border-collapse: collapse;
	font-family: sans-serif;
	width: 100%
}

.toggleHeader {
	padding:0.5pt 5.4pt 0.5pt 5.4pt;
	font-size: 1.25em;
	font-weight: bold;
}

.tableHeader {
	padding:0.0000pt 5.4pt 0.0000pt 5.4pt;
	border:1px solid;
	text-align:center;
	font-weight: bold;
	background-color: lightgray;
	border-spacing: 0px;
	width: 100%;
}

.titleAttributeLiteral {
	width:12%;
	border:1pt solid;
	text-align:center;
	font-weight: bold;
	background-color: lightgray;
}

.titleAttributeValue {
	width:12%;
	padding:0.0000pt 5.4pt 0.0000pt 5.4pt;
	border:1pt solid;
	border-collapse: collapse;
	text-align:center;
	font-weight: bold;
	background-color: white;
}

.combatSummaryHeader {
	font-weight: bold;
	border: 1px solid black; 
}

.combatSummaryValue {
	border-top:1pt solid;
	border-right:1pt solid;
	padding-left: 3px;		
	text-align:center;
}

.weaponValue {
	border-top:1pt solid;
	border-right:1pt solid;
	padding-left: 3px;		
	text-align:left;
}

.attributeLabel {
	border-top:1pt solid;
	border-right:1pt solid;
	padding-left: 3px;		
	text-align:left;
}

.attributeValue {
	border-top:1pt solid;
	border-right:1pt solid;
	text-align:center;
}

.rmEntryDefaultDesc {
	text-align: left;
}

.rmEntryDefaultData {
	text-align: center;
}
.rmRowDefault {
	background-color: lightgray;
}

.attributeMetaData {
	background-color: aliceblue;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.attributeMetaDataItem {
	border: 1px solid navy;
	border-radius: 5px;
	padding: 3px;
}
