label {
    color: DarkSlateGrey;
    font-size: 14px;
}

.inputRow {
    padding-bottom: 3px;
}

.masterCraftSection {
    width: 350px; 
    border: 2px solid green; 
    margin-top: 10px; 
    padding-top: 3px; 
    margin-bottom: 10px; 
    padding-bottom: 3px; 
    padding-left: 3px;
}

.magicSection {
    width: 400px; 
    border: 2px solid green; 
    margin-top: 10px; 
    padding-top: 3px; 
    margin-bottom: 10px; 
    padding-bottom: 3px; 
    padding-left: 3px;
}
